# Python 3
__pycache__/
.coverage*
.hypothesis/
.mypy_cache/
.pytest_cache/
.benchmarks/
poetry.lock
cov_html/
cov.xml

# Python Packaging
*.egg-info
dist/

# macOS
.DS_Store

# Environment
.venv/

.circleci/config2.yml
